<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Detalle Indicadores</h4>
            <hr />
            <dx-data-grid
                id="gridContainer"
                [dataSource]="data"
                keyExpr="IdDetalleIndicador"
                [allowColumnReordering]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [errorRowEnabled]="false"
                [hoverStateEnabled]="true"
                [wordWrapEnabled]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                (onInitNewRow)="onInitNewRow($event)"
                (onInitialized)="onInitialized($event)"
                (onEditorPreparing)="onEditorPreparing($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-paging [enabled]="true" [pageSize]="20"></dxo-paging>
                <dxo-editing
                    mode="form"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="IdIndicador > 0"
                >
                </dxo-editing>
                <dxo-search-panel
                    [visible]="true"
                    [width]="240"
                    placeholder="Buscar..."
                ></dxo-search-panel>
                <dxi-column dataField="IdDetalleIndicador" [visible]="false">
                    <dxo-form-item [visible]="false"> </dxo-form-item>
                </dxi-column>


                <dxi-column
                    dataField="CODPERSP"
                    caption="Perspectiva"
                    [setCellValue]="setIndicadorBSCValue"
                >
                    <dxo-lookup
                        [dataSource]="perspectivas"
                        displayExpr="SIGLA"
                        valueExpr="CODPERSP"
                        [allowClearing]="true"
                    >
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="CODINDIC" caption="Indicador BSC">
                    <dxo-lookup
                        [dataSource]="getIndicadoresBSC"
                        displayExpr="SIGLA"
                        valueExpr="CODINDIC"
                        [allowClearing]="true"
                    >
                    </dxo-lookup>
                </dxi-column>

                <dxi-column
                dataField="SIGLA"
                caption="Titulo Serie"
                dataType="string"
                >
                    <dxo-form-item [colSpan]="2"
                    [editorOptions]="{ maxLength: 200 }">
                    </dxo-form-item>
                </dxi-column>

                <dxi-column
                    dataField="SecuenciaVisualizacion"
                    caption="Secuencia"
                    datatype="number"
                    format="##0"
                >
                    <dxo-form-item
                        editorType="dxNumberBox"
                        [editorOptions]="{ format: '000', min: 0, max: 999 }"
                    >
                    </dxo-form-item>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>




            </dx-data-grid>
        </div>
    </div>
</div>
