<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/login/logo-sapphire-color.png" />
        </div>
        <form [formGroup]="loginFormGroup">
            <div class="login-panel-content">
                <div class="p-grid">
                    <div class="p-col-12">
                        <h1>{{ nombreApp }}</h1>
                        <h2>Bienvenido, favor ingresar sus credenciales</h2>
                    </div>
                    <!-- [(ngModel)]="loginViewModel.Usuario" -->
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input
                                id="username"
                                type="text"
                                pInputText
                                formControlName="Usuario"
                            />
                            <label for="username">Usuario</label>
                        </span>
                    </div>
                    <!-- [(ngModel)]="loginViewModel.Password" -->
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input
                                id="password"
                                type="password"
                                pInputText
                                formControlName="Password"
                            />
                            <label for="password">Password</label>
                        </span>
                    </div>
                    <!-- <div class="p-col-6" style="padding-top: 1.25em">
                    <a href="#">Olvido su Password?</a>
                </div> -->
                    <div class="p-col-12" style="text-align: right">
                        <button
                            pButton
                            pRipple
                            type="submit"
                            label="Ingresar"
                            style="width: 100%"
                            (click)="onLoginClick($event)"
                        ></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
