<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>{{ nombreOpcion }}</h4>
            <hr />
            <dx-data-grid
                id="gridContainer"
                [dataSource]="data"
                keyExpr="IdTipoGrafico"
                [allowColumnReordering]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [focusedRowEnabled]="true"
                [errorRowEnabled]="false"
                [hoverStateEnabled]="true"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                (onInitNewRow)="onInitNewRow($event)"
                (onInitialized)="onInitialized($event)"
            >
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-paging [enabled]="true" [pageSize]="20"></dxo-paging>
                <dxo-editing
                    mode="form"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true"
                >
                </dxo-editing>
                <dxo-search-panel
                    [visible]="true"
                    [width]="240"
                    placeholder="Buscar..."
                ></dxo-search-panel>
                <dxi-column dataField="IdTipoGrafico" [visible]="false">
                    <dxo-form-item [visible]="false"> </dxo-form-item>
                </dxi-column>
                <dxi-column
                    dataField="IdentificadorTipoGrafico"
                    caption="Código Identificador"
                    [visible]="true"
                >
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="NombreTipoGrafico" caption="Nombre Tipo Gráfico">
                    <dxo-form-item
                        [colSpan]="2"
                        [editorOptions]="{ maxLength: 30 }"
                    >
                    </dxo-form-item>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column
                    dataField="EstadoActivo"
                    caption="Estado"
                >
                    <dxo-lookup
                        [dataSource]="generico"
                        displayExpr="nombre"
                        valueExpr="id"
                    >
                    </dxo-lookup>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
            </dx-data-grid>
        </div>
    </div>
</div>
