<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>{{ nombreOpcion }}</h4>
            <hr />
            <dx-select-box
            [value]="idTema"
            [dataSource]="temas"
            valueExpr="IdTema"
            displayExpr="NombreTema"
            placeholder="Seleccione tema"
            (onValueChanged)="TemaValueChange($event)"
        >
        </dx-select-box>
        <hr />
        </div>
    </div>
    <ng-container *ngFor="let indicador of data">
        <div class="p-col-12 p-lg-6" *ngIf="(indicador.IdentificadorTipoGrafico != 'map') && (indicador.Visualizacion.indexOf('SD') > -1)">
            <div class="tasks card" *ngIf="indicador.IdentificadorTipoGrafico != 'map' && indicador.EstadoVisualizacion === 'S'">
                <app-GraficoStandard [IdIndicador]='indicador.IdIndicador'></app-GraficoStandard>
            </div>
            <div class="tasks card" style="background: #F3A723;" *ngIf="indicador.IdentificadorTipoGrafico != 'map' && indicador.EstadoVisualizacion === 'N'">
                <app-GraficoStandard [IdIndicador]='indicador.IdIndicador'></app-GraficoStandard>
            </div>
            <!-- <div class="tasks card" *ngIf="indicador.IdentificadorTipoGrafico == 'map' && indicador.EstadoVisualizacion === 'S'">
                <app-GraficoMapa [IdIndicador]='indicador.IdIndicador'></app-GraficoMapa>
            </div>
            <div class="tasks card" style="background: #F3A723;" *ngIf="indicador.IdentificadorTipoGrafico == 'map' && indicador.EstadoVisualizacion === 'N'">
                <app-GraficoMapa [IdIndicador]='indicador.IdIndicador'></app-GraficoMapa>
            </div> -->
        </div>
    </ng-container>
</div>
