<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>{{ nombreOpcion }}</h4>
            <hr />
            <dx-select-box
            [value]="idTema"
            [dataSource]="temas"
            valueExpr="IdTema"
            displayExpr="NombreTema"
            placeholder="Seleccione tema"
            (onValueChanged)="TemaValueChange($event)"
        >
        </dx-select-box>
        <hr />
        </div>
    </div>
    <ng-container *ngFor="let indicador of data">

        <div class="p-col-12 p-lg-12" *ngIf="indicador.IdentificadorTipoGrafico === 'table-Nac-ResuIndic'">
            <div class="tasks card" *ngIf="indicador.EstadoVisualizacion === 'S'">
                <app-TablaNacionalResumenIndicadores [IdIndicador]='indicador.IdIndicador'></app-TablaNacionalResumenIndicadores>
            </div>
            <div class="tasks card" style="background: #F3A723;" *ngIf="indicador.EstadoVisualizacion === 'N'">
                <app-TablaNacionalResumenIndicadores [IdIndicador]='indicador.IdIndicador'></app-TablaNacionalResumenIndicadores>
            </div>
        </div>

        <div class="p-col-12 p-lg-12" *ngIf="indicador.IdentificadorTipoGrafico === 'table-indic-depa'">
            <div class="tasks card" *ngIf="indicador.EstadoVisualizacion === 'S'">
                <app-TablaIndicadoresDepartamentos [IdIndicador]='indicador.IdIndicador'></app-TablaIndicadoresDepartamentos>
            </div>
            <div class="tasks card" style="background: #F3A723;" *ngIf="indicador.EstadoVisualizacion === 'N'">
                <app-TablaIndicadoresDepartamentos [IdIndicador]='indicador.IdIndicador'></app-TablaIndicadoresDepartamentos>
            </div>
        </div>

        <div class="p-col-12 p-lg-6" *ngIf="(indicador.IdentificadorTipoGrafico != 'map') && (!indicador.IdentificadorTipoGrafico.startsWith('table'))">
            <div class="tasks card" *ngIf="indicador.EstadoVisualizacion === 'S'">
                <app-GraficoStandard [IdIndicador]='indicador.IdIndicador'></app-GraficoStandard>
            </div>
            <div class="tasks card" style="background: #F3A723;" *ngIf="indicador.EstadoVisualizacion === 'N'">
                <app-GraficoStandard [IdIndicador]='indicador.IdIndicador'></app-GraficoStandard>
            </div>
        </div>



    </ng-container>
</div>

