<div class="dashboard">
    <!-- <div class="p-grid dashboard-grid">
        <div class="p-col-12 p-md-3">
            <a routerLink="/rolesusuario">
                <div class="tasks card">
                    <div class="tasks-progress">

                    </div>
                    <div class="tasks-header">Roles de usuarios</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de roles de usuarios
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ RolesUsuarios }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="p-col-12 p-md-3">
            <a routerLink="/usuarios">
                <div class="tasks card">
                    <div class="tasks-progress">

                    </div>
                    <div class="tasks-header">Usuarios</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de usuarios
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Usuarios }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="p-col-12 p-md-3">
            <a routerLink="/opcionessistema">
                <div class="tasks card">
                    <div class="tasks-progress">

                    </div>
                    <div class="tasks-header">Opciones del sistema</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de opciones del sistema
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ OpcionesSistemas }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="p-col-12 p-md-3">
            <a routerLink="/opcionesrol">
                <div class="tasks card">
                    <div class="tasks-progress">

                    </div>
                    <div class="tasks-header">Opciones de sistema por rol de usuario</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de opciones de sistema por rol de usuario
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ OpcionesRol }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div> -->

    <div class="p-grid dashboard-grid">
        <div class="p-col-12 p-md-3">
            <a routerLink="/tiposgraficos">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Tipos de gráficos</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de tipos de gráficos
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ TiposGraficos }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-col-12 p-md-3">
            <a routerLink="/temas">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Temas</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de temas
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Temas }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-col-12 p-md-3">
            <a routerLink="/periodos">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Periodos</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de periodos
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Periodos }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-col-12 p-md-3">
            <a routerLink="/reportes">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Reportes</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de reportes
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Reportes }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="p-grid dashboard-grid">
        <div class="p-col-12 p-md-3">
            <a routerLink="/parametrossistema">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Parámetros del sistema</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de parámetros del sistema
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ ParametrosSistema }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-col-12 p-md-3">
            <a routerLink="/indicadores">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Indicadores</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Mantenimiento de indicadores
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ TotalIndicadores }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="p-grid dashboard-grid">
        <div class="p-col-12 p-md-3">
            <a routerLink="/visuaindicadores">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Visualización Series de Datos</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Visualización Series de Datos
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Indicadores }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="p-col-12 p-md-3">
            <a routerLink="/visuamapas">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Visualización mapas</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Visualización mapas
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Mapas }}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="p-col-12 p-md-3">
            <a routerLink="/visuatacometros">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Visualización tacómetros</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Visualización de tacómetros
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Tacometros }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-col-12 p-md-3">
            <a routerLink="/visuatacometros">
                <div class="tasks card">
                    <div class="tasks-progress">
                        <!-- <div class="tasks-progress-value"></div> -->
                    </div>
                    <div class="tasks-header">Visualización Tablas y Gráficos</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Visualización Tablas y Gráficos
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Tablas }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="p-col-12 p-md-3">
            <a routerLink="/visuatacometros">
                <div class="tasks card">
                    <div class="tasks-progress">
                         <div class="tasks-progress-value"></div>
                    </div>
                    <div class="tasks-header">Visualización reportes</div>
                    <div class="p-grid p-nogutter">
                        <div class="p-col" style="margin-left: 14px">
                            <div class="task-content">
                                <div class="tasks-detail">
                                    Visualización de reportes
                                </div>
                            </div>
                        </div>
                        <div class="p-col-fixed p-col-align-center">
                            {{ Reportes }}
                        </div>
                    </div>
                </div>
            </a>
        </div> -->
    </div>

</div>
